@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fixes font smoothing for Android & iOS */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: Improve text rendering */
body, html {
  font-family: System;
}
